/* EmailLogin */

.EmailLogin {
  padding: 50px;
  background-color: #b79e84;
}

.EmailLogin .login_img_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;

  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.login_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.forget {
  cursor: pointer;
  border: none;
  background-color: #b79e84;
  color: white;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 10px;
}
