/* page animation */

.fade-enter {
  opacity: 1;
  transform: translateY(-70%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 2s ease-in;
}

.fade-exit {
  opacity: 1;
  /* transform: translateY(0%); */
}

.fade-exit-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 1s;
}
